@model IEnumerable<envanterTakip.role>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roleName)
        </td>
        <td>
            @{ if (item.roleStatus == Convert.ToByte(1))
                { <p>Aktif</p>}
                else if (item.roleStatus == Convert.ToByte(0))
                { <p>Pasif</p>}
            }
           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.roleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.roleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.roleId })
        </td>
    </tr>
}

</table>
